@model CampaignShowViewModel
@using GiveCRM.Web.Models.Campaigns

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true) 
    @Html.LabelFor(m => m.Campaign.Name) @Html.TextBoxFor(m => m.Campaign.Name)
    <br/>
    @Html.LabelFor(m => m.Campaign.Description) @Html.TextAreaFor(m => m.Campaign.Description, 5, 80, null)

    <hr />
    <p>
        @Html.ActionLink("Add new search filter", "AddMembershipSearchFilter", new { campaignId = Model.Campaign.Id })
    </p>

    <ul>
    @if (Model.SearchFilters.Any() == false) {
        @Model.NoSearchFiltersText;
    }    

    @foreach (MemberSearchFilterViewModel filterViewModel in Model.SearchFilters) {
        <li>@filterViewModel.CriteriaDisplayText
            @Html.ActionLink("[x]", "DeleteMemberSearchFilter", new { campaignId = filterViewModel.CampaignId, memberSearchFilterId = filterViewModel.MemberSearchFilterId })</li>
    }
    </ul>
    
    <hr />
    <text>search results goes here</text>    
    <hr/>
        <p>
        <input type="submit" value="Save" />@Html.HiddenFor(m => m.Campaign.Id)
    </p>
}
