@model GiveCRM.Models.Member
@{
    ViewBag.Title = "Add";
}

<h2>Add Member</h2>

<div>

@{Html.BeginForm("Save", "Member", FormMethod.Post, new {id="addMember"});}

@Html.HiddenFor(m => m.Id)

@Html.LabelFor(m=>m.Reference) @Html.TextBoxFor(m => m.Reference)<br />

@Html.LabelFor(m => m.Title) @Html.TextBoxFor(m=> m.Title)<br />

@Html.LabelFor(m => m.Salutation) @Html.TextBoxFor(m=> m.Salutation)<br />

@Html.LabelFor(m => m.FirstName) @Html.TextBoxFor(m => m.FirstName)<br />

@Html.LabelFor(m => m.LastName) @Html.TextBoxFor(m => m.LastName)<br />

@Html.LabelFor(m => m.AddressLine1) @Html.TextBoxFor(m => m.AddressLine1)<br />

@Html.LabelFor(m => m.AddressLine2) @Html.TextBoxFor(m => m.AddressLine2)<br />

@Html.LabelFor(m => m.City) @Html.TextBoxFor(m => m.City)<br />

@Html.LabelFor(m => m.PostalCode) @Html.TextBoxFor(m => m.PostalCode)<br />

@Html.LabelFor(m => m.Region) @Html.TextBoxFor(m=> m.Region)<br />

@Html.LabelFor(m => m.Country) @Html.TextBoxFor(m => m.Country)<br />

@Html.LabelFor(m => m.EmailAddress) @Html.TextBoxFor(m => m.EmailAddress)<br />

@{
    int i = 0; 
    foreach(var phone in Model.PhoneNumbers)
    {
        <span>@phone.Type</span><span>@phone.Number</span><br />
        <input type="hidden" name="member.PhoneNumbers[@i].Type" value="@phone.Type" />
        <input type="hidden" name="member.PhoneNumbers[@i].Number" value="@phone.Number" /> 
        i += 1; 
    }
}


    <label for="numbertype">Number Type</label><select id="numbertype" name="numbertype" type="text">
                                                    <option value="Home">Home</option>
                                                    <option value="Mobile">Mobile</option>
                                                    <option value="Work">Work</option>
                                                </select>
            <br />
    <label for="number">Number</label><input id="number" name="number" type="text" />
    <input id="AddNumber" type="button" value="Add Number"  /><br />
    <input type="submit" value="Save" />

@{Html.EndForm();}
</div>

<div>

<script type="text/javascript">
    var form = document.getElementById('addMember');
    var button = document.getElementById('AddNumber')
    button.onclick = function () {
        form.action = '/member/addnumber';
        form.submit(); 
    };
</script>


</div>