@model GiveCRM.Models.Donation

@{
    ViewBag.Title = "Donate";
}

<h2>Add Donation for @ViewBag.MemberName</h2>

@{Html.BeginForm(actionName: "SaveDonation", controllerName: "Member");}

@Html.HiddenFor(d => d.MemberId)

@Html.LabelFor(d=>d.CampaignId)

@Html.DropDownListFor(
    d => d.CampaignId, 
    (IEnumerable<SelectListItem>)ViewBag.Campaigns)<br />

@Html.LabelFor(d=>d.Date) @Html.TextBoxFor(d=>d.Date)<br />

@Html.LabelFor(d=>d.Amount) @Html.TextBoxFor(d=>d.Amount)<br />

<input type="submit" value="Save" />

@{Html.EndForm();}

<script type="text/javascript" language="javascript">
    $(function () {
        $("#Date").datepicker({ dateFormat: 'dd/mm/yy' });
    });
	</script>