@{
    ViewBag.Title = "Index";
}

<h2>Members Dashboard</h2>

<div id="actions">
    <ul>
        <li>@Html.ActionLink("Add New Member", "Add")</li>
        <li>@Html.ActionLink("Import Excel Spreadsheet", "Index", "ExcelImport")</li>
    </ul>
</div>

<div id="search">
    @using (Html.BeginForm(actionName: "Search", controllerName: "Member", method: FormMethod.Get))
    {
        <label>Lastname</label>
        @Html.TextBox("Name")<br />
        
        <label>Postcode</label>
        @Html.TextBox("Postcode")<br />
        
        <label>Reference</label>
        @Html.TextBox("Reference")<br />

        <input type="submit" value="Search" name="SearchButton" />
    }    
</div>

<div id="results">&nbsp;</div>