@model GiveCRM.Web.Models.Members.MemberSearchViewModel
@using PagedList.Mvc

@{
    Layout = null;
}

<table>

    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Reference</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
    </tr>

@if (Model.Results != null && Model.Results.Count > 0)
{
    foreach (var member in Model.Results)
    {
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", new {id = member.Id})</td>
            <td>@Html.ActionLink("Delete", "Delete", new {id = member.Id}, new {onclick = "return CheckDelete('" + member.Reference + "');"})</td>
            <td>@Html.ActionLink("Log Donation", "Donate", new {id = member.Id})</td>
            <td>@member.Reference</td>
            <td>@member.Salutation @member.FirstName @member.LastName</td>
            <td>@member.AddressLine1 @member.AddressLine2 @member.City @member.PostalCode</td>
            <td>@member.EmailAddress</td>
        </tr>
    }

    <tr>
        <td>
            @Html.PagedListPager(Model.Results, page => Url.Action("Index", new RouteValueDictionary()
                                                                                {
                                                                                    {"Page", page},
                                                                                    {"Name", Model.Name},
                                                                                    {"PostCode", Model.PostCode},
                                                                                    {"Reference", Model.Reference}
                                                                                }),
                                 PagedListRenderOptions.PageNumbersOnly)
        </td>
    </tr>
}

</table>

<script type="text/javascript" language="javascript">
    function CheckDelete(ref) {
        return confirm("Are you sure you wish to delete member " + ref);
    }
</script>