@model PagedMemberListViewModel
@using GiveCRM.Web.Models.Members
@using PagedList.Mvc

@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
<table>

    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Reference</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
    </tr>

    @foreach (var member in Model)
    {
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", new { id = member.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = member.Id }, new { onclick = "return CheckDelete('" + member.Reference + "');" })</td>
            <td>@Html.ActionLink("Log Donation", "Donate", new { id = member.Id })</td>
            <td>@member.Reference</td>
            <td>@member.Salutation @member.FirstName @member.LastName</td>
            <td>@member.AddressLine1 @member.AddressLine2 @member.City @member.PostalCode</td>
            <td>@member.EmailAddress</td>
        </tr>
    }

    <tr>
        <td colspan="7" style="text-align: center">
            <style type="text/css">
              ul li
              {
                  display: inline;
                  margin: 0 5px;
              }
          
              .PagedList-currentPage { font-weight: bold; }
              .PagedList-currentPage a { color: Black; }
            </style>
            @Html.PagedListPager(Model, Model.PagingFunction, PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </td>
    </tr>
</table>
}
else
{
    <p>Your search returned no results.</p>
}


<script type="text/javascript" language="javascript">
    function CheckDelete(ref) {
        return confirm("Are you sure you wish to delete member " + ref);
    }
</script>