@model IEnumerable<GiveCRM.Models.Member>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<table>

    <tr>
        <th>Reference</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
    </tr>

@foreach (var member in Model)
{
    <tr>
        <td>@member.Reference</td>
        <td>@member.Salutation @member.FirstName @member.LastName</td>
        <td>@member.AddressLine1 @member.AddressLine2 @member.City @member.PostalCode</td>
        <td>@member.EmailAddress</td>
    </tr>
}

</table>